@import "tailwindcss";

@theme {
  /* 추후 수정 예정 */
  --color-primary: #60cea7;
  --color-primary-hover: #63e0b2;
  --color-primary-light: #f1efff;

  --color-app-background: #0d1417;
  --color-surface: #0d1417;

  --color-page-background: #070b0d;

  --color-text-primary: #ecf3f2;
  --color-text-secondary: #9caaa8;

  --color-border: #253034;
  --color-danger: #e5484d;

  --font-sans:
    Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  body {
    min-width: 320px;
    overflow: hidden;

    font-family: var(--font-sans);
    color: var(--color-text-primary);
    background-color: var(--color-page-background);

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: 768px) {
      background-color: #000000;
      backdrop-filter: blur(40px);
    }
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer components {
  .app-container {
    @apply mx-auto overflow-hidden bg-app-background text-text-primary md:my-4 md:border md:border-gray-800 md:shadow-[0_0_80px_rgba(255,255,255,0.4)];
  }
}

@layer utilities {
  .safe-area-top {
    padding-top: env(safe-area-inset-top);
  }

  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
